[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/laravel/breeze-next.git
[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/laragis/laravel.git
	branch = api
